

/* 页头设计 */
header{
    width: 100%;
    background-color: #111;
    border-bottom: #fafafa 2px solid;
}
.header_container{
    height: 55px;
    width: 90vw;
    margin: auto;
    max-width: 1280px;
    min-width: 980px;
}
.header_container ul.menu_list{
    margin-left: 30px;
    height: 100%;
    width: 600px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* list-style-type: none; */
}
.header_container ul.menu_list li{
    height: 100%;
}
.header_container ul.menu_list li a{
    display: block;
    height: 100%;
    line-height: 55px;
    margin-right: 5vw;    
    font-size: 16px;
    font-weight: bold;
    color: #fafafa;
}

.header_container .side_bar{
    float: right;
    margin-right: 8vw;
    width: 100px;
    height: 100%;
}
.header_container .side_bar .language{
    width: 100%;
    height: 48%;
    display: block;
    font-size: 14px;
    color: #fafafa;
    text-decoration: underline;
    text-align: center;
}
.header_container .side_bar .icons_list{
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: center;

}
.header_container .side_bar .icons_list li img{
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

/* 主体内容设计 */
.main{
    width: 100%;
    min-width: 980px;
    height: auto;
    background-color: #111;
}
/* 第一部分内容 */
.main .part1{
    width: 100%;
    height: 680px;
    border-bottom: 2px solid #fafafa;
}
.main .part1 ul.pic_list{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main .part1 .pic_list p.desc{
    width: 14rem;
    height: 70%;
    font-size: 2.7rem;
    color: #fafafa;
    line-height: 6rem;
}
.main .part1 .pic_list li.pic_item {
    width: 34%;
    height: 100%;
}
.main .part1 .pic_list li.pic_item .pic {
    background: no-repeat center top/cover;
    width: 84%;
    margin: 3rem auto;
    height: 74%;
    /* border-radius: 34%; */
    border-radius: 10em/50em;
}
.main .part1 .pic_list li.pic_item:last-child .pic {
    background: no-repeat right top/cover;
}
.main .part1 .pic_list li.pic_item p {
    text-align: center;
    font-size: 2.4rem;
    color: #fafafd;
    padding-top: 2.4rem;
}

/* 第二部分内容 */
.main .part2{
    width: 100%;
    height: 780px;
    border-bottom: 2px solid #fafafa;
    position: relative;
}
.main .part2 .pic_left{
    background: no-repeat center center /cover;
    width: 50%;
    height: 40rem;
    position: absolute;
    left: 4vw;
    top: 4vw;
    border: 2px solid #444;
    border-radius: 5rem;
}
.main .part2 .pic_right{
    background: no-repeat center center /cover;
    width: 50%;
    height: 40rem;
    position: absolute;
    left: 34vw;
    top: 40%;
    border: 1px solid #444;
    border-radius: 5rem;
}
.main .part2 .desc{
    width: 13rem;
    height: 30rem;
    font-size: 2.7rem;
    color: #fafafa;
    line-height: 5rem;
    position: absolute;
    right: 3vw;
    bottom: 4vw;
}

/* 第三部分内容 */
.main .part3{
    width: 100%;
    height: 780px;
    border-bottom: 2px solid #fafafa;
}
.main .part3 .left_part{
    width: 50%;
    float: left;
    height: 100%;
    border-right: 2px solid #fafafa;
    box-sizing: border-box;
}
.main .part3 .left_part h3{
    font-size: 3rem;
    color: #fafafa;
    padding: 3rem 0;
    text-align: center;
}
.main .part3 .left_part .music_play{
    width: 80%;
    margin: auto;
    height: 40%;
    display: flex;
    align-items: center;
}
.main .part3 .left_part .music_play .music_pic{
    width: 26rem;
    height: 26rem;
    background: no-repeat center center/cover;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow:0;
    position: relative;
}
.main .part3 .left_part .music_play .music_pic ul.link{
    width: 10rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: -3.8rem;
    left: calc(50% - 5rem);
}
.main .part3 .left_part .music_play .music_pic ul.link li img{
    width: 2rem;
    height: 2rem;
    padding: 0 3px;
}


.main .part3 .left_part .music_play p.music_name{
    font-size: 2.4rem;
    color: #fafafa;
    padding-left: 3rem;
}
.main .part3 .left_part ul.music_list{
    width: 80%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.main .part3 .left_part ul.music_list li.music_item{
    width: 100%;
    height: 3rem;
    margin-top: 3rem;
}
.main .part3 .left_part ul.music_list li.music_item img{
    height: 3rem;
    width: 3rem;
    float: left;
}
.main .part3 .left_part ul.music_list li.music_item p.music_name{
    font-size: 2rem;
    line-height: 3rem;
    color: #fafafa;
    padding-left: 4rem;
}

.main .part3 .right_part{
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}
.main .part3 .right_part h3{
    height: 4rem;
    padding: 3rem 0;
    text-align: center;
    color: #fafafa;
    font-size: 3rem;
}
.main .part3 .right_part .detail{
    width: 80%;
    height: 30%;
    margin: auto;
    color: #fafafa;
    text-align: center;
}
.main .part3 .right_part .detail p.title{
    font-size: 2.4rem;
    padding: 3rem;
}
.main .part3 .right_part .detail p.desc{
    font-size: 2rem;
    line-height: 3rem;
}
.main .part3 .right_part .pic{
    width: 80%;
    height: 40%;
    margin: 4rem auto 3rem;
    background: no-repeat center center/cover;
}

/* 页脚设计 */
/* 通用样式 */
.footer_layout{
    float: left;
    margin: 0px 3vw;
    width: 11rem;
    height: 100%;
    padding: 8px 0;
    box-sizing: border-box;
}
.footer_layout li{
    padding: 2px 0;
}
/* 整体样式 */
footer{
    width: 100%;
    background-color: #111;
}
.footer_container{
    width: 90vw;
    max-width: 1280px;
    min-width: 980px;
    margin: auto;
    height: 6rem;
    color: #fafafa;
    font-size: 1.2rem;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
}
/* 标题 */
.footer_container .title{
    float: left;
    width: 10rem;
    height: 100%;
    margin: 0px 3vw;
}
.footer_container .title .tit{
    height: 50%;
    letter-spacing: 3px;
    font-size: 1.8rem;
    line-height: 32px;
}
.footer_container .title .tit2{
    display: block;
    margin-left: 3vw;
}
/* 联系 */
.footer_container .contact li{
    position: relative;
}
.footer_container .contact li img{
    position: absolute;
    left: -18px;
    width: 14px;
    height: 14px;
}
/* 搜索 */
.footer_container .search{
    height: 100%;
    width: 15rem;
    float: left;
}
.footer_container .search .search_title{
    padding: 12px 0 6px;
    text-align: left;
}
.footer_container .search input{
    width: 70%;
    height: 20px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    outline-style: none;
    text-indent: 4px;
    color: #fafafa;
}
.footer_container .search button{
    width: 20%;
    height: 23px;
    background-color: #fafafa;
    color: #111;
    border-radius: 4px;
}
/* 详情 */
.footer_container .detail{
    margin: 0px;
    margin-right: 2vw;
    float: right;
    width: 18rem;
}



/* 响应式布局 */
@media only screen and (min-width: 1440px){
}
@media only screen and (max-width: 1440px){
}
@media only screen and (max-width: 1280px){
}
@media only screen and (max-width: 980px){
}
