

/* 页头设计 */
header{
    width: 100%;
    background-color: #111;
    border-bottom: #fafafa 2px solid;
}
.header_container{
    height: 55px;
    width: 90vw;
    margin: auto;
    max-width: 1280px;
    min-width: 980px;
}
.header_container ul.menu_list{
    margin-left: 30px;
    height: 100%;
    width: 600px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* list-style-type: none; */
}
.header_container ul.menu_list li{
    height: 100%;
}
.header_container ul.menu_list li a{
    display: block;
    height: 100%;
    line-height: 55px;
    margin-right: 5vw;    
    font-size: 16px;
    font-weight: bold;
    color: #fafafa;
}

.header_container .side_bar{
    float: right;
    margin-right: 8vw;
    width: 100px;
    height: 100%;
}
.header_container .side_bar .language{
    width: 100%;
    height: 48%;
    display: block;
    font-size: 14px;
    color: #fafafa;
    text-decoration: underline;
    text-align: center;
}
.header_container .side_bar .icons_list{
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: center;

}
.header_container .side_bar .icons_list li img{
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

/* 主体内容设计 */
.main{
    width: 100%;
    min-width: 980px;
    background-color: #fff;
}
/* 第一部分内容 */
.main .part1{
    width: 100%;
    height: 500px;
}
.main .part1 ul.pic_list{
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}
.main .part1 ul.pic_list li.pic_item{
    width: 30%;
    height: 100%;
}
.main .part1 ul.pic_list li.pic_item .pic{
    background: no-repeat center center/cover;
    width: 29vw;
    height: 29vw;
    margin: auto;
    max-width: 34rem;
    max-height: 34rem;
    border-radius: 50%;
}
.main .part1 ul.pic_list li.pic_item h4{
    color: #111;
    font-size: 2.7rem;
    text-align: center;
    padding: 3rem 0;
}
/* 第二部分内容 */
.main .part2{
    width: 90%;
    height: 780px;
    border: 1px solid #ccc;
    margin: auto;
}
.main .part2 .part_left{
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}
.main .part2 .part_left img{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 3rem;
}
.main .part2 .part_left .desc{
    width: 90%;
    margin: auto;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 3rem;
    line-height: 5rem;
    color: #111;
}
.main .part2 .part_right{
    width: 70%;
    height: 100%;
    float: right;
    color: #111;
}
.main .part2 .part_right .input{
    width: 90%;
    height: 24%;
    margin: auto;
    padding-top: 3rem;
}
.main .part2 .part_right .input p.left{
    float: left;
    font-size: 1.4rem;
    font-weight: bold;
}
.main .part2 .part_right .input p.right{
    float: right;
    font-size: 1.4rem;
    font-weight: bold;
}
.main .part2 .part_right .input textarea{
    width: 100%;
    height: 14rem;
    margin: 2rem 0;
    padding: 1rem;
    box-sizing: border-box;
}
.main .part2 .part_right ul.comment_list{
    width: 90%;
    height: 70%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.main .part2 .part_right ul.comment_list li.comment_item{
    width: 50%;
    height: 14rem;
}
.main .part2 .part_right ul.comment_list li.comment_item img{
    width: 3.4rem;
    height: 3.4rem;
    float: left;
}
.main .part2 .part_right ul.comment_list li.comment_item .comment{
    width: calc(100% - 4rem);
    float: right;
}
.main .part2 .part_right ul.comment_list li.comment_item .comment .name{
    font-size: 1.4rem;
    display: inline-block;
    font-weight: bold;
    padding: 1rem 0;
    /* float: left; */
}
.main .part2 .part_right ul.comment_list li.comment_item .comment .name p.time{
    /* float: left; */
    display: inline-block;
    padding-left: 5px;
    font-size: 1rem;
    /* overflow: hidden; */
}
.main .part2 .part_right ul.comment_list li.comment_item .comment p.detail{
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.4rem;
}
/* 第三部分内容 */
.main .part3{
    width: 90%;
    height: 680px;
    padding-top: 3rem;
    box-sizing: border-box;
}
.main .part3 .slider{
    width: 70%;
    height: 100%;
    float: left;
    /* border: 1px solid #222; */
}
.main .part3 .slider ul.slide_list{
    width: 100%;
    height: 44vw;
}
.main .part3 .slider ul.slide_list li.slide_item{
    width: 440px;
    height: 374px;
    margin: 4rem auto;
    border: 1px solid #222;
    background: no-repeat center center/cover;
}
.main .part3 .pic{
    float: left;
    width: 30%;
}
.main .part3 .pic .title{
    padding: 3rem 0 7rem;
}
.main .part3 .pic .title p{
    text-align: center;
    font-size: 3rem;
    color: #111;
    letter-spacing: 3px;
    font-weight: bold;
}
.main .part3 .pic .pic_container{
    display: flex;
    justify-content: space-around;
}
.main .part3 .pic img{
    width: 40%;
    height: auto;
    background: no-repeat center center/cover;
}

/* 页脚设计 */
/* 通用样式 */
.footer_layout{
    float: left;
    margin: 0px 3vw;
    width: 11rem;
    height: 100%;
    padding: 8px 0;
    box-sizing: border-box;
}
.footer_layout li{
    padding: 2px 0;
}
/* 整体样式 */
footer{
    width: 100%;
    background-color: #111;
}
.footer_container{
    width: 90vw;
    max-width: 1280px;
    min-width: 980px;
    margin: auto;
    height: 6rem;
    color: #fafafa;
    font-size: 1.2rem;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
}
/* 标题 */
.footer_container .title{
    float: left;
    width: 10rem;
    height: 100%;
    margin: 0px 3vw;
}
.footer_container .title .tit{
    height: 50%;
    letter-spacing: 3px;
    font-size: 1.8rem;
    line-height: 32px;
}
.footer_container .title .tit2{
    display: block;
    margin-left: 3vw;
}
/* 联系 */
.footer_container .contact li{
    position: relative;
}
.footer_container .contact li img{
    position: absolute;
    left: -18px;
    width: 14px;
    height: 14px;
}
/* 搜索 */
.footer_container .search{
    height: 100%;
    width: 15rem;
    float: left;
}
.footer_container .search .search_title{
    padding: 12px 0 6px;
    text-align: left;
}
.footer_container .search input{
    width: 70%;
    height: 20px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    outline-style: none;
    text-indent: 4px;
    color: #fafafa;
}
.footer_container .search button{
    width: 20%;
    height: 23px;
    background-color: #fafafa;
    color: #111;
    border-radius: 4px;
}
/* 详情 */
.footer_container .detail{
    margin: 0px;
    margin-right: 2vw;
    float: right;
    width: 18rem;
}



/* 响应式布局 */
@media only screen and (min-width: 1440px){
}
@media only screen and (max-width: 1440px){
}
@media only screen and (max-width: 1280px){
    .main .part2 .part_left .desc{
        font-size: 2.2rem;
    }
}
@media only screen and (max-width: 980px){
    .main .part2 .part_left .desc{
        font-size: 2rem;
    }
}
